/*
**	**********
**		Header
**	**********
*/

nav {
  background: #263238;
  box-shadow: none;
  //opacity: .92;
  .brand-logo {
    img {
      height: 2rem;
      margin: 0 0 -.4rem;
    }
  }
}


/*
**	******************
**		Search Section
**	******************
*/

.search {
  height: 60vh;
  //background: #eceff1;
  background: #263238;
  //opacity: .92;
  h1 {
    color: white;
    font-size: 2.59rem;
    line-height: 1.2em;
    margin: 1.46rem 0 1.168rem 0;
    font-weight: 200;
  }
  input[type=search] {
    margin: 0;
    border: 0;
    padding: .25rem 0 .25rem 1rem;
    &:focus {
      border: 0;
      box-shadow: none;
    }
  }
}


/*
**	****************
**		Main Section
**	****************
*/

main {
  h5.title {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    margin: 2.4rem 0;
    color: #263238;
    // The Line Section
    display: table;
    white-space: nowrap;
    &:before,
    &:after {
      border-top: 1px solid #cfd8dc;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before {
      right: 1.5%;
    }
    &:after {
      left: 1.5%;
    }
  }
}
